<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>

<body>
    <h1>Changing the name of user whose email :<%= user.email %>
    </h1>
    <form method="post" action="/<%= user.userId %>/edit?_method=PATCH">
        <textarea rows="1" cols="15" name="username" id="username"><%=user.username %></textarea>
        <input placeholder="Enter password" type="password" name="formPass" id="formPass">
        <button>Submit</button>
    </form>
</body>

</html>