<!DOCTYPE html>
<html lang="en">
<!-- http://192.168.183.160:8080/ -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new User</title>
</head>

<body>
    <h1>NEW Chat</h1>
    <form action="http://192.168.183.160:8080/chats" method="post">
        <input placeholder="Enter Your Name" type="text" name="from" id="from">
        <br><br>
        <input placeholder="Enter Reciever's Name" type="text" name="to" id="to">
        <br><br>
        <textarea placeholder="Write your message here.." name="msg" id="msg"></textarea>
        <br><br>
        <button>Create Chat</button>


    </form>
</body>

</html>