<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rolling Dice</title>

</head>

<body>
    <h1>Dice Roll : <%= num%>
    </h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore fugiat molestiae sapiente delectus porro
        reiciendis accusantium eaque sit unde, mollitia recusandae neque consequatur iure consectetur, dolorum nihil
        laboriosam inventore explicabo.</p>
    <button>Click me!</button>
</body>

</html>